
#homepage {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: static;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;

}
.main h1 {
 padding-top: 10px;
}
.help {
  /* float: left; */
  margin-right: 10px;
  margin-bottom: 7px;
}
/* cite: https://codepen.io/jcblw/pen/DxAJF  */
.tab-container{
  background : white;
  margin: 0;
  padding: 0;
  max-height: 35px;
}

ul.tabs{
  margin: 0;
  list-style-type : none;
  line-height : 35px;
  max-height: 35px;
  overflow: hidden;
  display: inline-block;
  padding-right: 20px
}

ul.tabs > li.active{
  z-index: 2;
  background: #efefef;
}

ul.tabs > li.active:before{
  border-color : transparent #efefef transparent transparent;
}


ul.tabs > li.active:after{
  border-color : transparent transparent transparent #efefef;
}

ul.tabs > li{
  float : right;
  margin : 5px -10px 0;
  /* border-top-right-radius: 25px 170px;
  border-top-left-radius: 20px 90px; */
  padding : 0 30px 0 25px;
  margin: 5px;
  height: 170px;
  background: #ddd;
  position : relative;
  /* box-shadow: 0 10px 20px rgba(0,0,0,.5); */
  max-width : 200px;
}

ul.tabs > li > a{
  display: inline-block;
  max-width:100%;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  text-decoration: none;
  color: #222;
}

/* ul.tabs > li:before, ul.tabs > li:after{
  content : '';
  background : transparent;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 10px;
  top: 0px;
  border-style : solid;
  position : absolute;
} */

ul.tabs > li:before{
  /* border-color : transparent #ddd transparent transparent; */
  /* -webkit-transform : rotate(48deg); */
  /* left: -23px; */
}

ul.tabs > li:after{
  /* border-color : transparent transparent transparent #ddd; */
  /* -webkit-transform : rotate(-48deg);
  right: -17px; */
}

/* Clear Fix took for HTML 5 Boilerlate*/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* end citation from go/gene detail */

img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

  }

node-highlight {
  stroke: black;
  stroke-width="5";
}


  #gene-detail {
    margin-top:100px;
  }



  #brentlab-logo {
   padding-top: 3%;
  }

  #weights input {
      width: 200px;
  }

  #home-reference {
     padding-top: 25px;
     font-size: 50px;
  }

  #home-reference > a{
    color: black;
  }
  #home-reference > a:hover{
    color: #bfb9b8;
  }

  #home-cite{
    padding-left: 20%;
    padding-right: 20%;
  }

  #home-organism-heading{
    padding-top:50px;
    padding-bottom: 20px;
  }

/*
 #overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

  #fly-img:hover{

    #overlay{
      opacity: 1;

    }
  } */
  /* .organism-selector:hover{
    background-color: #333;
  } */
  .organism-selector{
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 200px;

  }
  .show
  {
      display: block;
      /* height: 260px; */
  }

  .hide
  {
      display: none;
      height:0;
  }

  .sidebar-titles {
      font-weight: bold;
  }

  body {
    font-size: .875rem;
  }

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  /*
   * Sidebar
   */

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 62px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 62px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }

  .sidebar .nav-link.active {
    color: #007bff;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*
   * Content
   */

  [role="main"] {
    padding-top: 62px; /* Space for fixed navbar */
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 500px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
     -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
	}

	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}

	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

	.modal.right.fade .modal-dialog {
    right: -500px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
      -o-transition: opacity 0.3s linear, right 0.3s ease-out;
         transition: opacity 0.3s linear, right 0.3s ease-out;
	}

	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
    display: inline;
  }

  #modal-button {
    height: auto;
    width: auto;
    float: right;
    border-radius: 0;
  }

  #modal-button-div {
    margin: 0px;
  }

  .index_button {
    border: none;
    background: none;

  }
  #edge-chart-heading{
    font-size: 150%;
  }

#weight-labels label {
  width: 75px;
}

#yeast-div {
  text-align: left;
  vertical-align: middle;
}

#yeast-div:hover #redirect_yeast{
  opacity: 0.8;
}

.yeast-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#yeast-img {
  display: block;
  width: 100%;
  height: auto;
}

#redirect_yeast{
  position: absolute;
  text-align: right;
  vertical-align: middle;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 100%;
  height: 100%;
  width: 320px;
  opacity: 0;
  transition: .5s ease;
  background-color:black;
}

#fly-div {
  text-align: right;
  vertical-align: middle;
}

#fly-div:hover #redirect_fly{
  opacity: 0.8;
}

.fly-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#fly-img {
  display: block;
  width: 100%;
  height: auto;
}

#redirect_fly {
  position: absolute;
  text-align: right;
  vertical-align: middle;
  top: 0%;
  bottom: 0%;
  /* left: 100%; */
  right: 0;
  height: 100%;
  width: 320px;
  opacity: 0;
  transition: .5s ease;
  background-color:black;
}

#instructions-modal-button {
  background-color:  #FAFAFA;
  font-size: 14px;
  width: 100%;
}

/* https://stackoverflow.com/questions/25859255/trying-to-make-bootstrap-modal-wider */
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

.instructions-subtext {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-body li {
  padding-top: 5px;
}

.organism-selector-sidebar {
  width: auto;
  height: auto;
  max-height: 200px;
}

#particles-js canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-color: #F5F5F5;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

#fly-button {
  border: 3px solid transparent;

}

#fly-button:hover {
  border: 3px solid #343a40;
}

#yeast-button {
  border: 3px solid transparent;

}

#yeast-button:hover {
  border: 3px solid #343a40;
}
