html {
  height: 100%;
}

body {
    margin: 60px !important;
    height: 100%;
    width: auto;
    font-family: Abril Fatface,Times New Roman,Times,serif;
    font-size: 1.25rem;
}

.subsection {
  padding-top: 70px;
  margin-left: 70px;
  margin-right: 170px;
  height: auto;
  width: auto;
}

.basicInfo {
    margin: 4px;
}

h1, h2, h4, h5 {
    font-family: Abril Fatface,Times New Roman,Times,serif;
}

h2 {
  font-weight: 500;
}

.indent {
  text-indent: 25px;
}

#projectSchedule {
  width:100%;
}

.greyDiv {
  background-color: #F5F5F5;
}

/* .diagram {
  width:500px;
  height:600px;
} */

#pbTitle {
    height: 100%;
    width: auto;
}

#pbTitle h1 {
  text-align: center;
  font-weight: bold;
}

#milestone1 img {
  height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mySlides p {
  text-align: center;
}

#clicker-left {
  position: static !important;
  border: 2px solid black;
  border-radius: 15px;
  width: 100px;

}

#clicker-right {
  position: static !important;
  border: 2px solid black;
  border-radius: 15px;
  width: 100px;

}

#clicker-left-initial {
  position: static !important;
  border: 2px solid black;
  border-radius: 15px;
  width: 100px;
}

#clicker-right-initial {
  position: static !important;
  border: 2px solid black;
  border-radius: 15px;
  width: 100px;

}

#clicker-left-m2 {
  position: static !important;
  border: 2px solid black;
  border-radius: 15px;
  width: 100px;

}

#clicker-right-m2 {
  position: static !important;
  border: 2px solid black;
  border-radius: 15px;
  width: 100px;

}

.mySlides1 {
  padding: 10px;
}

#milestone2 img {
  height: 700px;
}


